section#videos-portfolio{
 .categorie-video{
  height: 250px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  .lemon;
  h3{
   margin: 0;
  }
  a{
   .urbanist;
   font-weight: 600;
   color: @white!important;
   text-decoration-color: @white!important;
   text-underline-offset: 4px;
   opacity: 0.8;
   transition: all 0.3s ease-in-out;
   &:hover{
    opacity: 1;
   }
  }
 }
}

section#formules-videos{

 .formules-container{
  #carousel-formules-videos{
   margin: 0 20px 30px;

   .slick-prev {
    z-index: 9;
  }
  .slick-next {
    z-index: 9;
  }

   .slick-prev:before{
    content: url(../icons/prev-arrow.svg);
   } 
    .slick-next:before {
     content: url(../icons/next-arrow.svg);
   }

  .formule{
   text-align: center;
   border-radius: 20px;
   padding: 15px;
   color: @black;
   .urbanist;
   .formule-header{
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    h4, h6, h3{
     margin: 0;
    }
   }
   .formule-body{
    background-color: @white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    p{
      display: block;
      font-size: 14px;
      line-height: 18px;
     &.formule-desc{
      height: 130px;
      margin-bottom: 0;
      &.ultra{
        height: 308px;
      }
      &.options{
        height: 308px;
      }
     }
    }
    .formule-options{
      height: 180px;
    }
    .prestation-item{
     font-size: 12px;
     text-align: left;
     @media screen and (min-width:1200px) {
      font-size: 13px;
     }
    }
    ul.formule-desc{
      text-align: left;
      list-style: "👉🏾 ";
      padding-inline-start: 30px;
      display: inline-block;
      height: 292px;
    }
   }

  }

 }
}
}
section#formules-photos{

 .formules-container{
  @media screen and (min-width:1200px) {
    
    max-width: 992px;
  }
  #carousel-formules-photos{
   margin: 0 20px 30px;

   .slick-prev {
    z-index: 9;
  }
  .slick-next {
    z-index: 9;
  }

   .slick-prev:before{
    content: url(../icons/prev-arrow.svg);
   } 
    .slick-next:before {
     content: url(../icons/next-arrow.svg);
   }

  .formule{
   text-align: center;
   border-radius: 20px;
   padding: 15px;
   color: @black;
   .urbanist;
   .formule-header{
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    h4, h6, h3{
     margin: 0;
    }
   }
   .formule-body{
    background-color: @white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    p{
      display: block;
      font-size: 14px;
      line-height: 18px;
     &.formule-desc{
      height: 130px;
      margin-bottom: 0;
      &.ultra{
        height: 308px;
      }
      &.options{
        height: 308px;
      }
     }
    }
    .formule-options{
      height: 180px;
      img{
        width: 30px;
      }
    }
    .prestation-item{
     font-size: 12px;
     text-align: left;
     @media screen and (min-width:1200px) {
      font-size: 13px;
     }
    }
    ul.formule-desc{
      text-align: left;
      list-style: "👉🏾 ";
      padding-inline-start: 30px;
      display: inline-block;
      height: 292px;
    }
   }

  }
 }
}

}

section#photos-portfolio{
padding: 20px 5%;
overflow-x: scroll;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;
&::-webkit-scrollbar { 
  display: none; 
}
@media screen and (min-width:992px) {
  overflow-x: hidden;
}
.gallery {
 display: grid;
 grid-template-columns: repeat(9, 1fr);
 grid-template-rows: repeat(5, 1fr);
 gap: 10px;
 width: 250vw;
 @media screen and (min-width:992px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 90%;
    margin: 0 auto;
  }
  >*{
   height: 180px;
   background-size: cover;
   @media screen and (min-width:992px) {
    height: 220px;
    background-position: center center;
  }
  }

 .div1 {
  grid-column: span 3 / span 3;
  background-image: url(../images/img-mosaic/img-mosaic-1.jpg);
 }
 
 .div2 {
  grid-column-start: 1;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-2.png);

 }
 
 .div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-3.jpg);

 }
 
 .div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-4.jpg);

 }
 
 .div5 {
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-5.jpg);

 }
 
 .div6 {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-6.jpg);
  background-position: center center;

 }
 
 .div7 {
  grid-column-start: 1;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-7.png);

 }
 
 .div8 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-8.jpg);
  background-position: center center;

 }
 
 .div9 {
  grid-column-start: 4;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-9.jpg);

 }
 
 .div10 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-10.jpg);

 }
 
 .div11 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-11.jpg);

 }
 
 .div12 {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-15.jpg);
 }
 
 .div13 {
  grid-column-start: 6;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-13.jpg);
 }
 
 .div14 {
  grid-column-start: 4;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-14.png);

 }
 
 .div15 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-12.jpg);

 }
 
 .div16 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-16.jpg);
  background-position: center center;

 }
 
 .div17 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-17.jpg);

 }
 
 .div18 {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-18.jpg);

 }
 
 .div19 {
  grid-column-start: 9;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-19.jpg);

 }
 
 .div20 {
  grid-column-start: 7;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-20.jpg);

 }
 
 .div21 {
  grid-column: span 2 / span 2;
  grid-column-start: 8;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-21.jpg);
  background-position: center center;


 }
 
 .div22 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-22.jpg);

 }
 
 .div23 {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-23.jpg);
  background-position: center center;


 }
 
 .div24 {
  grid-column-start: 9;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-24.png);

 }
}

}

section#team{
 .container-fluid{
  @media screen and (min-width:1200px) {
   max-width: 960px;
  }
  #carousel-team-polaroid{
    .slick-prev {
      z-index: 9;
    }
    .slick-next {
      z-index: 9;
    }
    .slick-prev:before{
     content: url(../icons/prev-arrow.svg);
    } 
     .slick-next:before {
      content: url(../icons/next-arrow.svg);
    }

    .slick-prev{
     left: 50px;
     @media screen and (min-width:576px) {
      left: 100px;
     }
    }

    .slick-next{
     right: 50px;
     @media screen and (min-width:576px) {
      right: 100px;
     }
    }

    .slick-prev, .slick-next{
     top: 35%;
    }

  .team-member{
   text-align: center;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   p{
    max-width: 300px;
    padding: 0;
    margin-bottom: 0;
   }
   img{
    max-width: 220px;
    margin: 0 auto;
   }
   .link-profile{
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: @black;
    background-color: @white;
    padding: 8px 12px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
   }
   .fonction, .point-fort{
    .urbanist;
    font-size: 16px;
   }

   &.fourth{
    @media screen and (min-width:992px) {
     padding-left: 15%;
    }
   }
   &.fifth{
    @media screen and (min-width:992px) {
     padding-right: 15%;
    }
   }
  } 
 }
 }
 
 
}