@font-face {
  font-family: 'Dogica';
  src: url('../fonts/dogica-pixel/dogicapixel.woff') format('woff'), url('../fonts/dogica-pixel/dogicapixel.eot') format('eot'), url('../fonts/dogica-pixel/dogicapixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dogica';
  src: url('../fonts/dogica-pixel/dogicapixelbold.woff') format('woff'), url('../fonts/dogica-pixel/dogicapixelbold.eot') format('eot'), url('../fonts/dogica-pixel/dogicapixelbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/Urbanist-Regular.woff') format('woff'), url('../fonts/urbanist/Urbanist-Regular.otf') format('eot'), url('../fonts/urbanist/Urbanist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/Urbanist-Medium.woff') format('woff'), url('../fonts/urbanist/Urbanist-Medium.otf') format('eot'), url('../fonts/urbanist/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/Urbanist-SemiBold.woff') format('woff'), url('../fonts/urbanist/Urbanist-SemiBold.otf') format('eot'), url('../fonts/urbanist/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/Urbanist-Bold.woff') format('woff'), url('../fonts/urbanist/Urbanist-Bold.otf') format('eot'), url('../fonts/urbanist/Urbanist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lemon';
  src: url('../fonts/lemonmilk/LEMONMILK-Bold.otf') format('woff'), url('../fonts/lemonmilk/LEMONMILK-Bold.otf') format('eot'), url('../fonts/lemonmilk/LEMONMILK-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.satoshi {
  font-family: "Lemon", sans-serif;
}
.dogica {
  font-family: 'Dogica', sans-serif;
}
.urbanist {
  font-family: 'Urbanist', sans-serif;
}
.lemon {
  font-family: 'Lemon', sans-serif;
}
.pink {
  color: #fac0e6;
}
.white {
  color: #ffffff;
}
.bg_ultra {
  background: #ff6fff;
}
.bg_barbie {
  background: #fb419a;
}
.bg_persian {
  background: #f783c0;
}
.bg_magenta {
  background: #d93a89;
}
.bg_cherry {
  background: #c7155f;
}
.bg_lightGrey {
  background: #e0e0e0;
}
.bg_oyster {
  background: #efd0d0;
}
.bg_candy {
  background: #f59bc3;
}
.bg_pastel {
  background: #fec7d4;
}
.btn-pink {
  font-family: 'Urbanist', sans-serif;
  background-color: #fac0e6;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.btn-pink:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn-pink.second {
  font-family: 'Urbanist', sans-serif;
  background-color: #fac0e6;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.btn-pink.second:hover {
  color: #000000;
  border: 1px solid #000000;
  background-color: none;
}
.gelatine {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  font-family: 'urbanist';
}
body h2 {
  font-family: 'Lemon', sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  body h2 {
    font-size: 46px;
  }
}
body p {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  body p {
    font-size: 20px;
  }
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 99;
  background-color: #FADAEE;
  color: #000000;
}
#loading:before {
  font-family: 'Dogica';
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  animation: emojiLoader 1.2s steps(7) infinite forwards 0.2s;
  font-size: 10px;
}
@keyframes emojiLoader {
  0% {
    content: url(../pokemon_sprites/spr_y-gbc_025.png);
    height: 100px;
    width: 100px;
  }
  12.5% {
    content: url(../pokemon_sprites/spr_y-gbc_035.png);
    height: 100px;
    width: 100px;
  }
  25% {
    content: url(../pokemon_sprites/spr_y-gbc_151.png);
    height: 100px;
    width: 100px;
  }
  37.5% {
    content: url(../pokemon_sprites/spr_y-gbc_104.png);
    height: 100px;
    width: 100px;
  }
  50% {
    content: url(../pokemon_sprites/spr_y-gbc_039.png);
    height: 100px;
    width: 100px;
  }
  62.5% {
    content: url(../pokemon_sprites/spr_y-gbc_056.png);
    height: 100px;
    width: 100px;
  }
  75% {
    content: url(../pokemon_sprites/spr_y-gbc_094.png);
    height: 100px;
    width: 100px;
  }
  87.5% {
    content: url(../pokemon_sprites/spr_y-gbc_132.png);
    height: 100px;
    width: 100px;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 10s linear infinite;
}
header nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  padding: 0;
  width: 100vw;
}
@media screen and (min-width: 992px) {
  header nav.navbar .navbar-brand {
    padding: 10px 20px 0;
  }
}
header nav.navbar .navbar-brand img {
  width: 70px;
}
header nav.navbar .navbar-toggler {
  background: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 992px) {
  header nav.navbar #navbarScroll {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 10px 20px 10px;
    margin-right: 10px;
    max-width: fit-content;
    transition: background 0.6s ease-in-out;
  }
}
header nav.navbar #navbarScroll .nav-link {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}
header nav.navbar .offcanvas {
  background-color: #fac0e6;
  color: #000000;
  width: 100vw;
}
@media screen and (min-width: 992px) {
  header nav.navbar .offcanvas {
    display: none;
  }
}
header nav.navbar .offcanvas .btn-close {
  filter: unset!important;
}
header nav.navbar .offcanvas .navbar-nav-offcanvas .nav-link {
  color: #000000;
  font-size: 26px;
  padding: 20px 0;
  font-family: 'Lemon', sans-serif;
  text-align: center;
}
#top-portfolio,
#top-perso {
  background: #000000;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#top-portfolio .illustration,
#top-perso .illustration {
  position: absolute;
}
#top-portfolio .illustration video,
#top-perso .illustration video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#top-portfolio .illustration .layer,
#top-perso .illustration .layer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}
#top-portfolio .content_section,
#top-perso .content_section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
#top-portfolio .content_section .content_inside,
#top-perso .content_section .content_inside {
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 18%;
  padding: 0 3%;
}
#top-portfolio .content_section h1,
#top-perso .content_section h1,
#top-portfolio .content_section h2,
#top-perso .content_section h2,
#top-portfolio .content_section p,
#top-perso .content_section p {
  color: #ffffff;
}
#top-portfolio .content_section h1,
#top-perso .content_section h1 {
  font-family: 'Lemon', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}
@media screen and (min-width: 992px) {
  #top-portfolio .content_section h1,
  #top-perso .content_section h1 {
    font-size: 5em;
    line-height: 1em;
  }
}
#top-perso #top-mobile {
  display: block;
}
@media screen and (min-width: 576px) {
  #top-perso #top-mobile {
    display: none;
  }
}
#top-perso #top-desk {
  display: none;
}
@media screen and (min-width: 576px) {
  #top-perso #top-desk {
    display: block;
  }
}
.sticky-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;
}
.sticky-btn img {
  width: 100px;
  animation: rotating 10s linear infinite;
}
@media screen and (min-width: 992px) {
  .sticky-btn {
    right: 20px;
  }
}
footer.active {
  background: #fac0e6;
  padding: 20px 0 50px;
  text-align: center;
  color: #000000;
}
footer.active h2 {
  color: #000000;
}
footer.active p,
footer.active a {
  font-family: 'Urbanist', sans-serif;
}
footer.active #mail-container {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  max-width: 90%;
}
@media screen and (min-width: 576px) {
  footer.active #mail-container {
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  footer.active #mail-container {
    padding: 30px 10%;
    max-width: 768px;
  }
}
footer.active #mail-container a {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
@media screen and (min-width: 992px) {
  footer.active #mail-container a {
    font-size: 20px;
  }
}
footer.active .social a {
  transition: all 0.3s ease-in-out;
}
footer.active .social a:hover img {
  animation: gelatine 0.5s infinite;
}
footer.active .social a img {
  width: 35px;
}
@media screen and (min-width: 768px) {
  footer.active .social a img {
    width: 50px;
  }
}
footer.active .credits {
  font-size: 12px;
  line-height: 14px;
}
@media screen and (min-width: 992px) {
  footer.active .credits {
    font-size: 14px;
    line-height: 18px;
  }
}
#choice-bg {
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
#choice-content {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  #choice-content {
    max-width: 768px;
  }
}
#choice-content h2,
#choice-content p {
  color: #ffffff;
}
#choice-content h2 {
  font-family: 'Dogica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  #choice-content h2 {
    font-size: 20px;
  }
}
#choice-content p {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 13px;
}
@media screen and (min-width: 992px) {
  #choice-content p {
    font-size: 16px;
  }
}
#choice-content #pills-logo {
  max-width: 50%;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  #choice-content #pills-logo {
    max-width: 100%;
  }
}
#bg-hidden {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/windows-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#wrapper-hidden {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 450px) {
  #wrapper-hidden {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 576px) {
  #wrapper-hidden {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 768px) {
  #wrapper-hidden {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  #wrapper-hidden {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  #wrapper-hidden {
    grid-template-columns: repeat(14, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  #wrapper-hidden {
    grid-template-columns: repeat(16, 1fr);
  }
}
#wrapper-hidden .item {
  text-align: center;
}
#wrapper-hidden .item .img-wrapper-hidden {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper-hidden .item .img-wrapper-hidden img {
  max-height: 100%;
}
#wrapper-hidden .item p {
  height: 40px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-shadow: black 1px 1px 0;
  margin-bottom: 0;
  padding: 0 5px;
}
section#videos-portfolio .categorie-video {
  height: 250px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  font-family: 'Lemon', sans-serif;
}
section#videos-portfolio .categorie-video h3 {
  margin: 0;
}
section#videos-portfolio .categorie-video a {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  color: #ffffff !important;
  text-decoration-color: #ffffff !important;
  text-underline-offset: 4px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
section#videos-portfolio .categorie-video a:hover {
  opacity: 1;
}
section#formules-videos .formules-container #carousel-formules-videos {
  margin: 0 20px 30px;
}
section#formules-videos .formules-container #carousel-formules-videos .slick-prev {
  z-index: 9;
}
section#formules-videos .formules-container #carousel-formules-videos .slick-next {
  z-index: 9;
}
section#formules-videos .formules-container #carousel-formules-videos .slick-prev:before {
  content: url(../icons/prev-arrow.svg);
}
section#formules-videos .formules-container #carousel-formules-videos .slick-next:before {
  content: url(../icons/next-arrow.svg);
}
section#formules-videos .formules-container #carousel-formules-videos .formule {
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  color: #000000;
  font-family: 'Urbanist', sans-serif;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-header {
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
  background: #fac0e6;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-header h4,
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-header h6,
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-header h3 {
  margin: 0;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body p {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body p.formule-desc {
  height: 130px;
  margin-bottom: 0;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body p.formule-desc.ultra {
  height: 308px;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body p.formule-desc.options {
  height: 308px;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body .formule-options {
  height: 180px;
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body .prestation-item {
  font-size: 12px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body .prestation-item {
    font-size: 13px;
  }
}
section#formules-videos .formules-container #carousel-formules-videos .formule .formule-body ul.formule-desc {
  text-align: left;
  list-style: "👉🏾 ";
  padding-inline-start: 30px;
  display: inline-block;
  height: 292px;
}
@media screen and (min-width: 1200px) {
  section#formules-photos .formules-container {
    max-width: 992px;
  }
}
section#formules-photos .formules-container #carousel-formules-photos {
  margin: 0 20px 30px;
}
section#formules-photos .formules-container #carousel-formules-photos .slick-prev {
  z-index: 9;
}
section#formules-photos .formules-container #carousel-formules-photos .slick-next {
  z-index: 9;
}
section#formules-photos .formules-container #carousel-formules-photos .slick-prev:before {
  content: url(../icons/prev-arrow.svg);
}
section#formules-photos .formules-container #carousel-formules-photos .slick-next:before {
  content: url(../icons/next-arrow.svg);
}
section#formules-photos .formules-container #carousel-formules-photos .formule {
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  color: #000000;
  font-family: 'Urbanist', sans-serif;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-header {
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
  background: #fac0e6;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-header h4,
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-header h6,
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-header h3 {
  margin: 0;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body p {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body p.formule-desc {
  height: 130px;
  margin-bottom: 0;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body p.formule-desc.ultra {
  height: 308px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body p.formule-desc.options {
  height: 308px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body .formule-options {
  height: 180px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body .formule-options img {
  width: 30px;
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body .prestation-item {
  font-size: 12px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body .prestation-item {
    font-size: 13px;
  }
}
section#formules-photos .formules-container #carousel-formules-photos .formule .formule-body ul.formule-desc {
  text-align: left;
  list-style: "👉🏾 ";
  padding-inline-start: 30px;
  display: inline-block;
  height: 292px;
}
section#photos-portfolio {
  padding: 20px 5%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
section#photos-portfolio::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 992px) {
  section#photos-portfolio {
    overflow-x: hidden;
  }
}
section#photos-portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 250vw;
}
@media screen and (min-width: 992px) {
  section#photos-portfolio .gallery {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  section#photos-portfolio .gallery {
    width: 90%;
    margin: 0 auto;
  }
}
section#photos-portfolio .gallery > * {
  height: 180px;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  section#photos-portfolio .gallery > * {
    height: 220px;
    background-position: center center;
  }
}
section#photos-portfolio .gallery .div1 {
  grid-column: span 3 / span 3;
  background-image: url(../images/img-mosaic/img-mosaic-1.jpg);
}
section#photos-portfolio .gallery .div2 {
  grid-column-start: 1;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-2.png);
}
section#photos-portfolio .gallery .div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-3.jpg);
}
section#photos-portfolio .gallery .div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-4.jpg);
}
section#photos-portfolio .gallery .div5 {
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-5.jpg);
}
section#photos-portfolio .gallery .div6 {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-6.jpg);
  background-position: center center;
}
section#photos-portfolio .gallery .div7 {
  grid-column-start: 1;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-7.png);
}
section#photos-portfolio .gallery .div8 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-8.jpg);
  background-position: center center;
}
section#photos-portfolio .gallery .div9 {
  grid-column-start: 4;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-9.jpg);
}
section#photos-portfolio .gallery .div10 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-10.jpg);
}
section#photos-portfolio .gallery .div11 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-11.jpg);
}
section#photos-portfolio .gallery .div12 {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-15.jpg);
}
section#photos-portfolio .gallery .div13 {
  grid-column-start: 6;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-13.jpg);
}
section#photos-portfolio .gallery .div14 {
  grid-column-start: 4;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-14.png);
}
section#photos-portfolio .gallery .div15 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-12.jpg);
}
section#photos-portfolio .gallery .div16 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-16.jpg);
  background-position: center center;
}
section#photos-portfolio .gallery .div17 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 1;
  background-image: url(../images/img-mosaic/img-mosaic-17.jpg);
}
section#photos-portfolio .gallery .div18 {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-18.jpg);
}
section#photos-portfolio .gallery .div19 {
  grid-column-start: 9;
  grid-row-start: 2;
  background-image: url(../images/img-mosaic/img-mosaic-19.jpg);
}
section#photos-portfolio .gallery .div20 {
  grid-column-start: 7;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-20.jpg);
}
section#photos-portfolio .gallery .div21 {
  grid-column: span 2 / span 2;
  grid-column-start: 8;
  grid-row-start: 3;
  background-image: url(../images/img-mosaic/img-mosaic-21.jpg);
  background-position: center center;
}
section#photos-portfolio .gallery .div22 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 4;
  background-image: url(../images/img-mosaic/img-mosaic-22.jpg);
}
section#photos-portfolio .gallery .div23 {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-23.jpg);
  background-position: center center;
}
section#photos-portfolio .gallery .div24 {
  grid-column-start: 9;
  grid-row-start: 5;
  background-image: url(../images/img-mosaic/img-mosaic-24.png);
}
section#team {
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  section#team .container-fluid {
    max-width: 960px;
  }
}
section#team .container-fluid #carousel-team-polaroid .slick-prev {
  z-index: 9;
}
section#team .container-fluid #carousel-team-polaroid .slick-next {
  z-index: 9;
}
section#team .container-fluid #carousel-team-polaroid .slick-prev:before {
  content: url(../icons/prev-arrow.svg);
}
section#team .container-fluid #carousel-team-polaroid .slick-next:before {
  content: url(../icons/next-arrow.svg);
}
section#team .container-fluid #carousel-team-polaroid .slick-prev {
  left: 50px;
}
@media screen and (min-width: 576px) {
  section#team .container-fluid #carousel-team-polaroid .slick-prev {
    left: 100px;
  }
}
section#team .container-fluid #carousel-team-polaroid .slick-next {
  right: 50px;
}
@media screen and (min-width: 576px) {
  section#team .container-fluid #carousel-team-polaroid .slick-next {
    right: 100px;
  }
}
section#team .container-fluid #carousel-team-polaroid .slick-prev,
section#team .container-fluid #carousel-team-polaroid .slick-next {
  top: 35%;
}
section#team .container-fluid #carousel-team-polaroid .team-member {
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#team .container-fluid #carousel-team-polaroid .team-member p {
  max-width: 300px;
  padding: 0;
  margin-bottom: 0;
}
section#team .container-fluid #carousel-team-polaroid .team-member img {
  max-width: 220px;
  margin: 0 auto;
}
section#team .container-fluid #carousel-team-polaroid .team-member .link-profile {
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}
section#team .container-fluid #carousel-team-polaroid .team-member .fonction,
section#team .container-fluid #carousel-team-polaroid .team-member .point-fort {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  section#team .container-fluid #carousel-team-polaroid .team-member.fourth {
    padding-left: 15%;
  }
}
@media screen and (min-width: 992px) {
  section#team .container-fluid #carousel-team-polaroid .team-member.fifth {
    padding-right: 15%;
  }
}
.citation {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
@media screen and (min-width: 992px) {
  .citation {
    padding: 40px 0 80px;
  }
}
.citation.second {
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  .citation.second {
    padding: 80px 0;
  }
}
.citation img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .citation img {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .citation img {
    max-width: 768px;
  }
}
.citation #slot1,
.citation #slot2 {
  display: block;
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 992px) {
  .citation #slot1,
  .citation #slot2 {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .citation #slot1,
  .citation #slot2 {
    width: 200px;
    height: 200px;
  }
}
.citation #slot1 img,
.citation #slot2 img {
  width: 100px;
}
@media screen and (min-width: 992px) {
  .citation #slot1 img,
  .citation #slot2 img {
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .citation #slot1 img,
  .citation #slot2 img {
    width: 200px;
  }
}
.citation #slot1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .citation #slot1 {
    bottom: 0;
    left: 25%;
  }
}
.citation #slot2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .citation #slot2 {
    bottom: 0;
    right: 25%;
  }
}
#tele-perso .video-container {
  position: relative;
  margin: 0;
}
@media screen and (min-width: 576px) {
  #tele-perso .video-container {
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) {
  #tele-perso .video-container {
    margin: 10px 0 50px;
  }
}
@media screen and (min-width: 992px) {
  #tele-perso .video-container {
    margin: 20px 0 100px;
  }
}
@media screen and (min-width: 1200px) {
  #tele-perso .video-container {
    margin: 20px 0 100px;
  }
}
@media screen and (min-width: 1400px) {
  #tele-perso .video-container {
    margin: 50px 0 150px;
  }
}
#tele-perso .video-container #player-overlay img {
  position: absolute;
  top: -15px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  width: 330px;
}
@media screen and (min-width: 380px) {
  #tele-perso .video-container #player-overlay img {
    top: -15px;
    width: 400px;
  }
}
@media screen and (min-width: 576px) {
  #tele-perso .video-container #player-overlay img {
    top: -20px;
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  #tele-perso .video-container #player-overlay img {
    top: -26px;
    width: 662px;
  }
}
@media screen and (min-width: 992px) {
  #tele-perso .video-container #player-overlay img {
    top: -30px;
    width: 770px;
  }
}
@media screen and (min-width: 1200px) {
  #tele-perso .video-container #player-overlay img {
    top: -35px;
    width: 880px;
  }
}
@media screen and (min-width: 1400px) {
  #tele-perso .video-container #player-overlay img {
    top: -40px;
    width: 1090px;
  }
}
#tele-perso .video-container #player-container {
  height: 172px;
  width: 307px;
}
@media screen and (min-width: 380px) {
  #tele-perso .video-container #player-container {
    height: 207px;
    width: 368px;
  }
}
@media screen and (min-width: 576px) {
  #tele-perso .video-container #player-container {
    height: 259px;
    width: 460px;
  }
}
@media screen and (min-width: 768px) {
  #tele-perso .video-container #player-container {
    height: 345px;
    width: 614px;
  }
}
@media screen and (min-width: 992px) {
  #tele-perso .video-container #player-container {
    height: 403px;
    width: 716px;
  }
}
@media screen and (min-width: 1200px) {
  #tele-perso .video-container #player-container {
    height: 460px;
    width: 819px;
  }
}
@media screen and (min-width: 1400px) {
  #tele-perso .video-container #player-container {
    height: 576px;
    width: 1024px;
  }
}
#tele-perso .video-container #player-btns {
  position: absolute;
  z-index: 9;
  bottom: -50px;
}
#tele-perso .video-container #player-btns button {
  background-color: none;
  background: none;
  border: none;
}
#tele-perso .video-container #player-btns img {
  height: 40px;
  width: 40px;
}
#twitch {
  padding: 80px 0 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #twitch {
    padding: 50px 0 100px;
  }
}
#twitch .text-justify {
  text-align: justify;
}
#twitch img {
  max-width: 220px;
  margin: -70px auto;
}
@media screen and (min-width: 768px) {
  #twitch img {
    margin: -50px auto;
  }
}
#twitch video {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  #twitch video {
    max-width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  #twitch video {
    max-width: 768px;
  }
}
#twitch #twitch-container {
  padding: 70px 50px 50px;
  background: #222222;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  #twitch #twitch-container {
    border-radius: 0;
    max-width: unset;
    padding: 70px 30px 50px;
  }
}
#twitch #twitch-container h3,
#twitch #twitch-container h4 {
  font-family: 'Lemon', sans-serif;
  color: #fac0e6;
  text-transform: uppercase;
  padding: 20px 0 0;
}
#twitch #twitch-container p {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}
@media screen and (max-width: 576px) {
  #twitch #twitch-container p.px-3.responsive {
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }
}
#twitch #twitch-container .social a {
  transition: all 0.3s ease-in-out;
  margin: 5px 2px;
}
#twitch #twitch-container .social a:hover img {
  animation: gelatine 0.5s infinite;
}
#twitch #twitch-container .social a img {
  width: 35px;
}
@media screen and (min-width: 768px) {
  #twitch #twitch-container .social a img {
    width: 50px;
  }
}
#tomodachis,
#past-events {
  padding: 50px 0;
}
#tomodachis {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
  background-color: #222222;
}
#tomodachis #characters-selection-container {
  justify-content: center;
}
@media screen and (min-width: 992px) {
  #tomodachis #characters-selection-container {
    justify-content: unset;
  }
}
#tomodachis #characters-selection-container ul.nav {
  display: flex;
  justify-content: center;
}
#tomodachis #characters-selection-container ul.nav .nav-link {
  display: block;
  max-width: 80px;
  cursor: grab;
  padding: 0;
}
@media screen and (min-width: 992px) {
  #tomodachis #characters-selection-container ul.nav .nav-link {
    max-width: 120px;
  }
}
#tomodachis #characters-selection-container ul.nav .nav-link img {
  max-width: 70px;
  border: 1px solid #ffffff;
  filter: brightness(50%);
}
@media screen and (min-width: 350px) {
  #tomodachis #characters-selection-container ul.nav .nav-link img {
    max-width: 80px;
  }
}
@media screen and (min-width: 992px) {
  #tomodachis #characters-selection-container ul.nav .nav-link img {
    max-width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  #tomodachis #characters-selection-container ul.nav .nav-link img {
    max-width: 100px;
  }
}
@media screen and (min-width: 1400px) {
  #tomodachis #characters-selection-container ul.nav .nav-link img {
    max-width: 120px;
  }
}
#tomodachis #characters-selection-container ul.nav .nav-link.active img,
#tomodachis #characters-selection-container ul.nav .nav-link:hover img {
  filter: brightness(100%);
}
#tomodachis #characters-selection-container ul.nav .nav-item.locked {
  display: none;
}
@media screen and (min-width: 992px) {
  #tomodachis #characters-selection-container ul.nav .nav-item.locked {
    display: inline-block;
  }
}
#tomodachis #characters-selection-container ul.nav .nav-item.locked .nav-link {
  cursor: help;
}
#tomodachis #characters-selection-container ul.nav .nav-item.locked .nav-link.active img,
#tomodachis #characters-selection-container ul.nav .nav-item.locked .nav-link:hover img {
  filter: brightness(50%);
}
#tomodachis .tab-pane {
  width: 100%;
}
#tomodachis .tab-pane .character-img {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#tomodachis .tab-pane .character-img img {
  width: 230px;
}
@media screen and (min-width: 992px) {
  #tomodachis .tab-pane .character-img img {
    width: 250px;
  }
}
@media screen and (min-width: 1400px) {
  #tomodachis .tab-pane .character-img img {
    width: 300px;
  }
}
#tomodachis .tab-pane .character-img .character-name {
  font-family: 'Dogica', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 24px;
  margin-top: 10px;
}
#tomodachis .tab-pane .character-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dogica', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  #tomodachis .tab-pane .character-desc {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  #tomodachis .tab-pane .character-desc {
    align-items: start;
  }
}
#tomodachis .tab-pane .character-desc p {
  margin-bottom: 0;
}
#tomodachis .tab-pane .character-desc .infos-text {
  display: none;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  #tomodachis .tab-pane .character-desc .infos-text {
    display: inline-block;
  }
}
#tomodachis .tab-pane .character-desc .infos-progress {
  margin-top: 20px;
}
#tomodachis .tab-pane .character-desc .infos-progress .progress-flex {
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
@media screen and (min-width: 992px) {
  #tomodachis .tab-pane .character-desc .infos-progress .progress-flex {
    align-items: start;
    justify-content: start;
  }
}
#tomodachis .tab-pane .character-desc .infos-progress .progress-flex .progress-icon {
  width: 40px;
  margin-right: 10px;
}
#tomodachis .tab-pane .character-desc .infos-progress .progress-flex progress {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 200px;
  border: 2px solid #ffffff;
}
@media screen and (min-width: 992px) {
  #tomodachis .tab-pane .character-desc .infos-progress .progress-flex progress {
    width: 260px;
  }
}
#tomodachis .tab-pane .character-desc .infos-progress .progress-flex progress[value]::-webkit-progress-bar {
  background-color: #222222;
  border-radius: 0;
  padding: 5px;
}
#tomodachis .tab-pane .character-desc .infos-progress .progress-flex progress[value]::-webkit-progress-value {
  background-color: #ffffff;
}
#past-events .nav-pills {
  display: flex;
  justify-content: center;
}
#past-events .nav-pills .nav-item {
  background: #fac0e6;
  color: #000000;
  transform: rotate(2deg);
}
#past-events .nav-pills .nav-item .nav-link {
  background: #fac0e6;
  color: #000000;
  filter: brightness(0.5);
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  font-family: 'Dogica', sans-serif;
}
#past-events .nav-pills .nav-item .nav-link.active,
#past-events .nav-pills .nav-item .nav-link:hover {
  filter: brightness(1);
}
#past-events .nav-pills .nav-item:nth-child(2) {
  margin: 10px 20px;
  transform: rotate(-2deg);
}
@media screen and (min-width: 410px) {
  #past-events .nav-pills .nav-item:nth-child(2) {
    margin: 0 20px;
  }
}
#past-events .projet {
  width: 100%;
  padding: 20px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet {
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #past-events .projet {
    padding: 50px;
  }
}
#past-events .projet #prochaine-fois img.affiche {
  width: 300px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois img.affiche {
    width: 95%;
    max-width: 95%;
    height: auto;
  }
}
#past-events .projet #prochaine-fois .left-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois .left-responsive {
    text-align: left;
  }
}
#past-events .projet #prochaine-fois .right-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois .right-responsive {
    text-align: right;
  }
}
#past-events .projet #prochaine-fois h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Lemon', sans-serif;
  color: #fac0e6;
}
#past-events .projet #prochaine-fois h4 {
  font-weight: bold;
}
#past-events .projet #prochaine-fois p {
  font-size: 16px;
}
#past-events .projet #prochaine-fois p.credits {
  font-style: italic;
}
#past-events .projet #prochaine-fois .row {
  justify-content: space-between;
}
#past-events .projet #prochaine-fois .ratio.ratio-16x9 {
  display: none;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois .ratio.ratio-16x9 {
    display: block;
  }
}
#past-events .projet #prochaine-fois .grid-mobile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 400px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois .grid-mobile {
    display: none;
  }
}
#past-events .projet #prochaine-fois .grid-mobile > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #prochaine-fois .grid-mobile .div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  background-image: url(../images/prochaine-fois/capture02.png);
}
#past-events .projet #prochaine-fois .grid-mobile .div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  background-image: url(../images/prochaine-fois/capture01.png);
}
#past-events .projet #prochaine-fois .grid-mobile .div3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture06.jpeg);
}
#past-events .projet #prochaine-fois .grid-mobile .div4 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture03.png);
}
#past-events .projet #prochaine-fois .grid-mobile .div5 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 7;
  background-image: url(../images/prochaine-fois/capture04.png);
}
#past-events .projet #prochaine-fois .grid-mobile .div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 7;
  background-image: url(../images/prochaine-fois/capture05.png);
}
#past-events .projet #prochaine-fois .grid-desktop {
  display: none;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 400px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #prochaine-fois .grid-desktop {
    display: grid;
  }
}
#past-events .projet #prochaine-fois .grid-desktop > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #prochaine-fois .grid-desktop .div1 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  background-image: url(../images/prochaine-fois/capture02.png);
}
#past-events .projet #prochaine-fois .grid-desktop .div2 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  background-image: url(../images/prochaine-fois/capture01.png);
}
#past-events .projet #prochaine-fois .grid-desktop .div3 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 10;
  grid-row-start: 1;
  background-image: url(../images/prochaine-fois/capture03.png);
}
#past-events .projet #prochaine-fois .grid-desktop .div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 8;
  grid-row-start: 1;
  background-image: url(../images/prochaine-fois/capture06.jpeg);
}
#past-events .projet #prochaine-fois .grid-desktop .div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/affiche_copie.JPG);
}
#past-events .projet #prochaine-fois .grid-desktop .div6 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture05.png);
}
#past-events .projet #prochaine-fois .grid-desktop .div7 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 9;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture04.png);
}
#past-events .projet #prochaine-fois .grid-desktop .div8 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture06.png);
}
#past-events .projet #kurt img.affiche {
  width: 300px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt img.affiche {
    width: 95%;
    max-width: 95%;
    height: auto;
  }
}
#past-events .projet #kurt .left-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt .left-responsive {
    text-align: left;
  }
}
#past-events .projet #kurt .right-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt .right-responsive {
    text-align: right;
  }
}
#past-events .projet #kurt h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Lemon', sans-serif;
  color: #fac0e6;
}
#past-events .projet #kurt h4 {
  font-weight: bold;
}
#past-events .projet #kurt p {
  font-size: 16px;
}
#past-events .projet #kurt p.credits {
  font-style: italic;
}
#past-events .projet #kurt .row {
  justify-content: space-between;
}
#past-events .projet #kurt .ratio.ratio-16x9 {
  display: none;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt .ratio.ratio-16x9 {
    display: block;
  }
}
#past-events .projet #kurt .grid-mobile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 400px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt .grid-mobile {
    display: none;
  }
}
#past-events .projet #kurt .grid-mobile > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #kurt .grid-mobile .div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  background-image: url(../images/prochaine-fois/capture02.png);
}
#past-events .projet #kurt .grid-mobile .div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  background-image: url(../images/prochaine-fois/capture01.png);
}
#past-events .projet #kurt .grid-mobile .div3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture06.jpeg);
}
#past-events .projet #kurt .grid-mobile .div4 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture03.png);
}
#past-events .projet #kurt .grid-mobile .div5 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 7;
  background-image: url(../images/prochaine-fois/capture04.png);
}
#past-events .projet #kurt .grid-mobile .div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 7;
  background-image: url(../images/prochaine-fois/capture05.png);
}
#past-events .projet #kurt .grid-desktop {
  display: none;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 400px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #kurt .grid-desktop {
    display: grid;
  }
}
#past-events .projet #kurt .grid-desktop > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #kurt .grid-desktop .div1 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  background-image: url(../images/prochaine-fois/capture02.png);
}
#past-events .projet #kurt .grid-desktop .div2 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  background-image: url(../images/prochaine-fois/capture01.png);
}
#past-events .projet #kurt .grid-desktop .div3 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 10;
  grid-row-start: 1;
  background-image: url(../images/prochaine-fois/capture03.png);
}
#past-events .projet #kurt .grid-desktop .div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 8;
  grid-row-start: 1;
  background-image: url(../images/prochaine-fois/capture06.jpeg);
}
#past-events .projet #kurt .grid-desktop .div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/affiche_copie.JPG);
}
#past-events .projet #kurt .grid-desktop .div6 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture05.png);
}
#past-events .projet #kurt .grid-desktop .div7 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 9;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture04.png);
}
#past-events .projet #kurt .grid-desktop .div8 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 4;
  background-image: url(../images/prochaine-fois/capture06.png);
}
#past-events .projet #lost img.affiche {
  width: 300px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost img.affiche {
    width: 95%;
    max-width: 95%;
    height: auto;
  }
}
#past-events .projet #lost .left-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost .left-responsive {
    text-align: left;
  }
}
#past-events .projet #lost .right-responsive {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost .right-responsive {
    text-align: right;
  }
}
#past-events .projet #lost h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Lemon', sans-serif;
  color: #fac0e6;
}
#past-events .projet #lost h4 {
  font-weight: bold;
}
#past-events .projet #lost p {
  font-size: 16px;
}
#past-events .projet #lost p.credits {
  font-style: italic;
}
#past-events .projet #lost .row {
  justify-content: space-between;
}
#past-events .projet #lost .ratio.ratio-16x9 {
  display: none;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost .ratio.ratio-16x9 {
    display: block;
  }
}
#past-events .projet #lost .grid-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 500px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost .grid-mobile {
    display: none;
  }
}
#past-events .projet #lost .grid-mobile > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #lost .grid-mobile .div1 {
  grid-row: span 3 / span 3;
  background-image: url(../images/lost/Anger.jpg);
}
#past-events .projet #lost .grid-mobile .div2 {
  grid-row: span 3 / span 3;
  background-image: url(../images/lost/Sadness.jpg);
}
#past-events .projet #lost .grid-mobile .div3 {
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/lost/Love.jpg);
}
#past-events .projet #lost .grid-mobile .div4 {
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  background-image: url(../images/lost/Lust.jpg);
}
#past-events .projet #lost .grid {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  margin: 20px auto;
  height: 500px;
}
@media screen and (min-width: 992px) {
  #past-events .projet #lost .grid {
    display: grid;
  }
}
#past-events .projet #lost .grid > div {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#past-events .projet #lost .grid .div1 {
  grid-row: span 2 / span 2;
  background-image: url(../images/lost/Anger.jpg);
}
#past-events .projet #lost .grid .div2 {
  grid-row: span 2 / span 2;
  background-image: url(../images/lost/eyez-chico.png);
}
#past-events .projet #lost .grid .div3 {
  grid-row: span 2 / span 2;
  background-image: url(../images/lost/Hustle.jpg);
}
#past-events .projet #lost .grid .div4 {
  grid-row: span 2 / span 2;
  background-image: url(../images/lost/Sadness.jpg);
}
#past-events .projet #lost .grid .div5 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-image: url(../images/lost/IMG_0030.jpg);
}
#past-events .projet #lost .grid .div6 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-image: url(../images/lost/Love.jpg);
}
#past-events .projet #lost .grid .div7 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-image: url(../images/lost/IMG_0012.jpg);
}
#past-events .projet #lost .grid .div8 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-image: url(../images/lost/Lust.jpg);
}
#past-events .btn-container {
  padding: 30px 0;
}
#past-events .btn-pink {
  font-size: 20px;
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
}
#shop {
  padding: 50px 0;
}
#shop .item-container {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  #shop .item-container {
    padding: 30px;
  }
}
#shop .item-container .item {
  background-color: #222222;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #shop .item-container .item {
    padding: 30px;
  }
}
#shop .item-container .item .item-img {
  height: 100px;
  width: auto;
}
@media screen and (min-width: 992px) {
  #shop .item-container .item .item-img {
    height: 150px;
  }
}
#shop .item-container .item .item-nom {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  #shop .item-container .item .item-nom {
    font-size: 16px;
  }
}
#shop .item-container .item .prix {
  font-size: 30px;
  font-weight: bold;
}
.modal-dialog.modal-showreel {
  max-width: 796px;
  margin: 30px auto;
}
.modal-dialog.modal-showreel .modal-content {
  background-color: #fac0e6;
  border: 2px solid #fac0e6;
}
.modal-dialog.modal-showreel .modal-body {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.27198%;
}
.modal-dialog.modal-showreel .modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-dialog.modal-showreel .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}
#playlist-clips .modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
#playlist-clips .modal-dialog .modal-content {
  background-color: #fac0e6;
  border: 2px solid #fac0e6;
}
#playlist-clips .modal-dialog .modal-content .container {
  padding: 0 5px 0;
}
#playlist-clips .modal-dialog .modal-content .container img {
  max-width: 100%;
  height: auto;
}
#playlist-clips .modal-dialog .modal-content .container .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
#playlist-clips .modal-dialog .modal-content .container .embed-container iframe,
#playlist-clips .modal-dialog .modal-content .container .embed-container object,
#playlist-clips .modal-dialog .modal-content .container .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#playlist-clips .modal-dialog .modal-content .container .video-player__playing {
  margin-bottom: 8px;
}
#playlist-clips .modal-dialog .modal-content .container .video-player__thumbs {
  overflow: hidden;
}
#playlist-clips .modal-dialog .modal-content .container .video-thumb {
  float: left;
  width: 48%;
  position: relative;
  overflow: hidden;
  padding-bottom: 26%;
  margin-bottom: 0.375em;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #playlist-clips .modal-dialog .modal-content .container .video-thumb {
    width: 23.5%;
    padding-bottom: 13%;
  }
}
#playlist-clips .modal-dialog .modal-content .container .video-thumb:nth-last-child(even) {
  margin-right: 3.2%;
  margin-bottom: 2%;
}
@media screen and (min-width: 768px) {
  #playlist-clips .modal-dialog .modal-content .container .video-thumb:nth-last-child(even) {
    margin-right: unset;
    margin-bottom: unset;
  }
}
@media screen and (min-width: 768px) {
  #playlist-clips .modal-dialog .modal-content .container .video-thumb:not(:last-child) {
    margin-right: 2%;
  }
}
#playlist-clips .modal-dialog .modal-content .video-thumb.active {
  cursor: default;
}
#playlist-clips .modal-dialog .modal-content .video-thumb:before,
#playlist-clips .modal-dialog .modal-content .video-thumb:after {
  display: block;
  position: absolute;
  transition: all 250ms ease-out;
  z-index: 1;
}
#playlist-clips .modal-dialog .modal-content .video-thumb:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 148, 30, 0);
}
#playlist-clips .modal-dialog .modal-content .video-thumb.active:before {
  background: #000000;
}
#playlist-clips .modal-dialog .modal-content .video-thumb:not(.active):hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#playlist-clips .modal-dialog .modal-content .video-thumb:after {
  content: "\f144";
  font-family: "FontAwesome";
  top: 50%;
  left: 50%;
  margin: -0.458em 0 0 -0.5em;
  color: rgba(255, 255, 255, 0);
  font-size: 1.5em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  #playlist-clips .modal-dialog .modal-content .video-thumb:after {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  #playlist-clips .modal-dialog .modal-content .video-thumb:after {
    font-size: 2.6em;
  }
}
#playlist-clips .modal-dialog .modal-content .video-thumb.active:after {
  color: #ffffff;
}
#playlist-clips .modal-dialog .modal-content .video-thumb img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
